
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo hide-on-med-and-down">{{ site.title }}</a>
      <a href="#!" class="brand-logo hide-on-large-only">{{ site.short_title }}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/index.html">About</a></li>
        <li><a href="/content_objects.html">Content-Objects</a></li>
        <li><a href="/atoms.html">Atoms</a></li>
        <li><a href="/units.html">Units</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/about.html">About</a></li>
    <li><a href="/content_objects.html">Content-Objects</a></li>
    <li><a href="/atoms.html">Atoms</a></li>
    <li><a href="/units.html">Units</a></li>
  </ul>
